**Fuente**
Eurostat

**InformaciÃ³n**
Employees by sex, age and occupation (1 000)

**Enlace**
https://ec.europa.eu/eurostat/databrowser/view/lfsq_eegais/default/table?lang=en

**Units**
Thousands

In [280]:
import pandas as pd

In [281]:
# Total
europe_worker_force_total = pd.read_excel('europe_worker_force.xlsx', 'Sheet 1', dtype=str)

# Managers
europe_worker_force_managers = pd.read_excel('europe_worker_force.xlsx', 'Sheet 2', dtype=str)

# Professionals
europe_worker_force_professionals = pd.read_excel('europe_worker_force.xlsx', 'Sheet 3', dtype=str)

# Technicians and associate professionals
europe_worker_force_technicians = pd.read_excel('europe_worker_force.xlsx', 'Sheet 4', dtype=str)

# Clerical support workers
europe_worker_force_technicians_clerical_support = pd.read_excel('europe_worker_force.xlsx', 'Sheet 5', dtype=str)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [282]:
def clean_database(df):
    
    df = df.drop(range(0, 11))
    df = df.drop(range(50, 57))

    columns = df.columns
    columns = columns.tolist()
    for index, column in enumerate(columns.copy()):
        if index == 0:
            continue
        elif index % 2 == 0:
            columns.remove(column)
    df = df[columns]

    columns_dict_keys = (df.columns).tolist()
    columns_dict_values = ['Country','2019_total', '2019_males', '2019_females', '2020_Q1_total', '2020_Q1_males', '2020_Q1_females', '2020_Q2_total', '2020_Q2_males', '2020_Q2_females', '2020_Q3_total', '2020_Q3_males', '2020_Q3_females', '2020_Q4_total', '2020_Q4_males', '2020_Q4_females', '2021_Q1_total', '2021_Q1_males', '2021_Q1_females', '2021_Q2_total', '2021_Q2_males', '2021_Q2_females', '2021_Q3_total', '2021_Q3_males', '2021_Q3_females', '2021_Q4_total', '2021_Q4_males', '2021_Q4_females', '2022_total', '2022_males', '2022_females']
    columns_rename_dict = dict(zip(columns_dict_keys, columns_dict_values))
    df.rename(columns=columns_rename_dict, inplace=True)
    
    df[columns_dict_values] = df[columns_dict_values].replace(':', '', regex = True)

    for index, column in enumerate(columns_dict_values):
        if index > 0:
            df[column] = pd.to_numeric(df[column],errors = 'coerce')

    # df['mean_2020_male'] = df.iloc[5,8,11,14].mean(axis=1)
    df['2020_males'] = df[['2020_Q1_males', '2020_Q2_males', '2020_Q3_males', '2020_Q4_males']].mean(axis=1)
    df['2020_females'] = df[['2020_Q1_females', '2020_Q2_females', '2020_Q3_females', '2020_Q4_females']].mean(axis=1)
    df['2021_males'] = df[['2021_Q1_males', '2021_Q1_males', '2021_Q1_males', '2021_Q1_males']].mean(axis=1)
    df['2021_females'] = df[['2021_Q1_females', '2021_Q1_females', '2021_Q1_females', '2021_Q1_females']].mean(axis=1)
    df['2020_total'] = df['2020_males'] + df['2020_females']
    df['2021_total'] = df['2021_males'] + df['2021_females']

    df = df.drop(df.iloc[:, 4:28],axis = 1)

    df = df[['Country','2019_total', '2019_males', '2019_females', '2020_total', '2020_males', '2020_females', '2021_total', '2021_males', '2021_females', '2022_total', '2022_males', '2022_females']]
   
    df.reset_index(drop=True, inplace=True)

    return df

In [283]:
europe_worker_force_total = clean_database(europe_worker_force_total)
europe_worker_force_managers = clean_database(europe_worker_force_managers)
europe_worker_force_professionals = clean_database(europe_worker_force_professionals)
europe_worker_force_technicians = clean_database(europe_worker_force_technicians)
europe_worker_force_technicians_clerical_support = clean_database(europe_worker_force_technicians_clerical_support)

In [284]:
europe_worker_force_managers.drop(range(39, 40))
europe_worker_force_technicians_clerical_support.drop(range(39, 40))

,Country,2019_total,2019_males,2019_females,2020_total,2020_males,2020_females,2021_total,2021_males,2021_females,2022_total,2022_males,2022_females
0,European Union - 27 countries (from 2020),18093.8,6103.9,11989.9,18243.500000,6119.750000,12123.750000,18701.6,6308.8,12392.8,19080.0,6393.6,12686.4
1,European Union - 28 countries (2013-2020),20787.4,6969.1,13818.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,European Union - 15 countries (1995-2004),17782.6,5958.3,11824.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Euro area - 19 countries (from 2015),15155.3,5095.6,10059.7,15335.750000,5099.825000,10235.925000,15700.6,5252.3,10448.3,16028.2,5351.9,10676.3
4,Belgium,505.8,203.4,302.4,526.750000,209.525000,317.225000,556.0,220.2,335.8,592.1,221.8,370.3
5,Bulgaria,183.7,50.6,133.2,175.000000,48.250000,126.750000,175.0,44.1,130.9,172.4,45.3,127.1
6,Czechia,441.3,92.0,349.3,431.475000,95.150000,336.325000,440.7,99.5,341.2,420.0,93.6,326.4
7,Denmark,180.5,56.3,124.2,181.025000,52.775000,128.250000,173.7,49.9,123.8,163.4,55.3,108.1
8,Germany (until 1990 former territory of the FRG),5048.8,1720.8,3328.0,NaN,NaN,NaN,5409.4,1810.8,3598.6,5203.6,1752.6,3450.9
9,Estonia,37.4,13.2,24.1,33.550000,11.425000,22.125000,30.7,9.6,21.1,41.4,15.2,26.2
10,Ireland,201.4,51.1,150.2,204.050000,52.125000,151.925000,194.9,51.3,143.6,214.1,57.6,156.5
11,Greece,421.1,171.5,249.6,422.825000,179.375000,243.450000,397.0,170.4,226.6,457.4,184.7,272.7
12,Spain,2000.7,667.0,1333.7,1938.800000,635.475000,1303.325000,1959.1,635.3,1323.8,2035.6,666.2,1369.4
13,France,2151.1,569.5,1581.6,2133.300000,531.375000,1601.925000,2289.3,636.5,1652.8,2435.1,689.6,1745.4
14,Croatia,149.2,52.5,96.6,153.750000,54.300000,99.450000,154.7,56.2,98.5,157.1,53.0,104.1
15,Italy,2592.3,913.8,1678.6,2625.225000,942.775000,1682.450000,2600.1,967.5,1632.6,2726.3,995.4,1730.9
16,Cyprus,42.5,10.9,31.7,44.625000,11.325000,33.300000,43.5,9.9,33.6,48.1,12.1,36.0
17,Latvia,50.2,11.7,38.5,40.425000,10.800000,29.625000,35.7,9.3,26.4,38.4,10.5,27.9
18,Lithuania,61.4,18.7,42.7,61.075000,20.375000,40.700000,60.7,15.3,45.4,65.2,16.8,48.4
19,Luxembourg,20.8,9.3,11.4,19.275000,8.500000,10.775000,19.5,8.8,10.7,18.3,8.3,10.1
20,Hungary,309.1,83.0,226.1,300.550000,82.550000,218.000000,337.6,94.3,243.3,349.3,102.8,246.5
21,Malta,27.4,11.4,16.0,27.400000,11.325000,16.075000,27.0,11.5,15.5,27.4,11.1,16.3
22,Netherlands,721.2,297.6,423.6,727.275000,303.100000,424.175000,804.9,309.5,495.4,805.0,331.4,473.7
23,Austria,413.6,125.3,288.3,395.650000,111.650000,284.000000,398.7,108.7,290.0,408.5,120.3,288.2
24,Poland,1019.0,433.8,585.2,1012.175000,427.600000,584.575000,1104.4,470.9,633.5,1165.3,455.3,710.0
25,Portugal,421.5,158.0,263.5,398.675000,149.525000,249.150000,429.2,150.6,278.6,477.2,141.2,336.0
26,Romania,368.2,126.3,241.9,378.525000,145.775000,232.750000,343.6,132.0,211.6,363.9,132.9,231.0
27,Slovenia,78.3,34.0,44.3,74.450000,32.325000,42.125000,68.5,26.6,41.9,68.7,27.0,41.7
28,Slovakia,237.1,72.8,164.2,237.900000,68.550000,169.350000,250.5,69.3,181.2,243.9,55.4,188.5
29,Finland,122.8,35.6,87.2,121.950000,33.250000,88.700000,125.8,31.3,94.5,121.9,34.8,87.1
30,Sweden,287.6,113.9,173.7,275.325000,113.550000,161.775000,271.2,109.6,161.6,260.5,103.5,157.0
31,Iceland,7.9,NaN,6.9,6.766667,1.266667,5.500000,5.8,1.1,4.7,7.1,2.4,4.7
32,Norway,139.2,62.4,76.8,136.325000,60.950000,75.375000,137.7,61.8,75.9,152.1,66.5,85.6
33,Switzerland,546.2,210.1,336.0,548.625000,210.200000,338.425000,540.9,204.4,336.5,522.8,204.3,318.6
34,United Kingdom,2693.6,865.2,1828.4,2759.300000,905.566667,1853.733333,NaN,NaN,NaN,NaN,NaN,NaN
35,Montenegro,19.4,8.0,11.4,18.300000,7.500000,10.800000,NaN,NaN,NaN,NaN,NaN,NaN
36,North Macedonia,47.7,24.1,23.7,52.775000,27.225000,25.550000,NaN,NaN,NaN,NaN,NaN,NaN
37,Serbia,235.7,92.5,143.2,229.575000,93.050000,136.525000,240.3,93.4,146.9,241.5,101.0,140.4
38,Turkey,1871.1,1064.8,806.3,1829.800000,1049.200000,780.600000,NaN,NaN,NaN,NaN,NaN,NaN

In [285]:
europe_worker_force_total.to_csv('total_european_work_force.csv')
europe_worker_force_managers.to_csv('managers_european_work_force.csv')
europe_worker_force_professionals.to_csv('professionals_european_work_force.csv')
europe_worker_force_technicians.to_csv('technicians_european_work_force.csv')
europe_worker_force_technicians_clerical_support.to_csv('support_european_work_force.csv')