**Fuente**
EIGE (European institute of gender equality)

**Información**
Women and Men in Decision-Making in the largest publicly listed companies in each country
Position: CEO, Executives, Non Executives

**Enlace**
https://eige.europa.eu/gender-statistics/dgs/indicator/wmidm_bus_bus__wmid_comp_compex/line

In [23]:
import pandas as pd
import numpy as np

In [57]:
women_boards_europe_detail = pd.read_excel('women_boards_europe.xlsx', 'women_boards_detail')
women_boards_europe_total = pd.read_excel('women_boards_europe.xlsx', 'women_boards_total')

In [58]:
women_boards_europe_detail

,time,_geo,geo,value,UNIT,_UNIT,EGROUP,_EGROUP,POSITION,_POSITION,sex,_sex,NACE,_NACE
0,2012-B2,AT,Austria,0.0,Number of persons (headcount),NR,Largest listed companies,COMP,CEO (Chief Executive Officer),CEO,Women,W,"C, E & F (Mining & quarrying; electricity, gas...",CEF
1,2013-B1,AT,Austria,0.0,Number of persons (headcount),NR,Largest listed companies,COMP,CEO (Chief Executive Officer),CEO,Women,W,"C, E & F (Mining & quarrying; electricity, gas...",CEF
2,2013-B2,AT,Austria,0.0,Number of persons (headcount),NR,Largest listed companies,COMP,CEO (Chief Executive Officer),CEO,Women,W,"C, E & F (Mining & quarrying; electricity, gas...",CEF
3,2014-B1,AT,Austria,0.0,Number of persons (headcount),NR,Largest listed companies,COMP,CEO (Chief Executive Officer),CEO,Women,W,"C, E & F (Mining & quarrying; electricity, gas...",CEF
4,2014-B2,AT,Austria,0.0,Number of persons (headcount),NR,Largest listed companies,COMP,CEO (Chief Executive Officer),CEO,Women,W,"C, E & F (Mining & quarrying; electricity, gas...",CEF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
402175,2020-B1,UK,United Kingdom,100.0,Percent of total,PC,Largest listed companies,COMP,President,PRES_BRD,Total,T,All sectors,TOT
402176,2020-B2,UK,United Kingdom,100.0,Percent of total,PC,Largest listed companies,COMP,President,PRES_BRD,Total,T,All sectors,TOT
402177,2021-B1,UK,United Kingdom,100.0,Percent of total,PC,Largest listed companies,COMP,President,PRES_BRD,Total,T,All sectors,TOT
402178,2021-B2,UK,United Kingdom,100.0,Percent of total,PC,Largest listed companies,COMP,President,PRES_BRD,Total,T,All sectors,TOT
402179,2022-B1,UK,United Kingdom,100.0,Percent of total,PC,Largest listed companies,COMP,President,PRES_BRD,Total,T,All sectors,TOT

In [59]:
columns_details = {'time': 'year', 'geo' : 'country', 'value' : 'number', 'POSITION' : 'position',
                    '_POSITION' : 'position init', '_sex' : 'sex init', 'NACE' : 'nace', '_NACE' : 'nace init'
                }

In [60]:
women_boards_europe_detail

,time,_geo,geo,value,UNIT,_UNIT,EGROUP,_EGROUP,POSITION,_POSITION,sex,_sex,NACE,_NACE
0,2012-B2,AT,Austria,0.0,Number of persons (headcount),NR,Largest listed companies,COMP,CEO (Chief Executive Officer),CEO,Women,W,"C, E & F (Mining & quarrying; electricity, gas...",CEF
1,2013-B1,AT,Austria,0.0,Number of persons (headcount),NR,Largest listed companies,COMP,CEO (Chief Executive Officer),CEO,Women,W,"C, E & F (Mining & quarrying; electricity, gas...",CEF
2,2013-B2,AT,Austria,0.0,Number of persons (headcount),NR,Largest listed companies,COMP,CEO (Chief Executive Officer),CEO,Women,W,"C, E & F (Mining & quarrying; electricity, gas...",CEF
3,2014-B1,AT,Austria,0.0,Number of persons (headcount),NR,Largest listed companies,COMP,CEO (Chief Executive Officer),CEO,Women,W,"C, E & F (Mining & quarrying; electricity, gas...",CEF
4,2014-B2,AT,Austria,0.0,Number of persons (headcount),NR,Largest listed companies,COMP,CEO (Chief Executive Officer),CEO,Women,W,"C, E & F (Mining & quarrying; electricity, gas...",CEF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
402175,2020-B1,UK,United Kingdom,100.0,Percent of total,PC,Largest listed companies,COMP,President,PRES_BRD,Total,T,All sectors,TOT
402176,2020-B2,UK,United Kingdom,100.0,Percent of total,PC,Largest listed companies,COMP,President,PRES_BRD,Total,T,All sectors,TOT
402177,2021-B1,UK,United Kingdom,100.0,Percent of total,PC,Largest listed companies,COMP,President,PRES_BRD,Total,T,All sectors,TOT
402178,2021-B2,UK,United Kingdom,100.0,Percent of total,PC,Largest listed companies,COMP,President,PRES_BRD,Total,T,All sectors,TOT
402179,2022-B1,UK,United Kingdom,100.0,Percent of total,PC,Largest listed companies,COMP,President,PRES_BRD,Total,T,All sectors,TOT

In [61]:
women_boards_europe_detail = women_boards_europe_detail.rename(columns = columns_details)

In [62]:
women_boards_europe_detail = women_boards_europe_detail[['year', 'country', 'number', 'position', 'position init', 'sex', 'nace', 'nace init']]

In [63]:
women_boards_europe_detail

,year,country,number,position,position init,sex,nace,nace init
0,2012-B2,Austria,0.0,CEO (Chief Executive Officer),CEO,Women,"C, E & F (Mining & quarrying; electricity, gas...",CEF
1,2013-B1,Austria,0.0,CEO (Chief Executive Officer),CEO,Women,"C, E & F (Mining & quarrying; electricity, gas...",CEF
2,2013-B2,Austria,0.0,CEO (Chief Executive Officer),CEO,Women,"C, E & F (Mining & quarrying; electricity, gas...",CEF
3,2014-B1,Austria,0.0,CEO (Chief Executive Officer),CEO,Women,"C, E & F (Mining & quarrying; electricity, gas...",CEF
4,2014-B2,Austria,0.0,CEO (Chief Executive Officer),CEO,Women,"C, E & F (Mining & quarrying; electricity, gas...",CEF
...,...,...,...,...,...,...,...,...
402175,2020-B1,United Kingdom,100.0,President,PRES_BRD,Total,All sectors,TOT
402176,2020-B2,United Kingdom,100.0,President,PRES_BRD,Total,All sectors,TOT
402177,2021-B1,United Kingdom,100.0,President,PRES_BRD,Total,All sectors,TOT
402178,2021-B2,United Kingdom,100.0,President,PRES_BRD,Total,All sectors,TOT
402179,2022-B1,United Kingdom,100.0,President,PRES_BRD,Total,All sectors,TOT

In [7]:
women_boards_europe_total = women_boards_europe_total.drop(range(0,17))
women_boards_europe_total.columns = women_boards_europe_total.iloc[0]
women_boards_europe_total = women_boards_europe_total.iloc[1: , :]
women_boards_europe_total.set_index('Row Labels',inplace=True)
women_boards_europe_total.index.name = None

In [17]:
women_boards_europe_total = women_boards_europe_total.replace(['NaN'],np.nan)
women_boards_europe_total = women_boards_europe_total.apply (pd.to_numeric, errors='coerce')
women_boards_europe_total = women_boards_europe_total.dropna()
women_boards_europe_total

17,Total,Women,Men,Total,Women,Men
European Union - 27 countries (from 2020),5345.0,1690.0,3655.0,100.0,31.6,68.4
European Union - 28 countries (1993-2020),5896.0,1905.0,3991.0,100.0,32.3,67.7
Belgium,205.0,76.0,129.0,100.0,37.1,62.9
Bulgaria,59.0,10.0,49.0,100.0,16.9,83.1
Czechia,61.0,13.0,48.0,100.0,21.3,78.7
Denmark,235.0,91.0,144.0,100.0,38.7,61.3
Germany,534.0,195.0,339.0,100.0,36.5,63.5
Estonia,96.0,8.0,88.0,100.0,8.3,91.7
Ireland,199.0,66.0,133.0,100.0,33.2,66.8
Greece,252.0,58.0,194.0,100.0,23.0,77.0
Spain,421.0,146.0,275.0,100.0,34.7,65.3
France,516.0,239.0,277.0,100.0,46.3,53.7
Croatia,156.0,42.0,114.0,100.0,26.9,73.1
Italy,409.0,162.0,247.0,100.0,39.6,60.4
Cyprus,164.0,16.0,148.0,100.0,9.8,90.2
Latvia,54.0,11.0,43.0,100.0,20.4,79.6
Lithuania,95.0,22.0,73.0,100.0,23.2,76.8
Luxembourg,80.0,19.0,61.0,100.0,23.8,76.3
Hungary,105.0,11.0,94.0,100.0,10.5,89.5
Malta,215.0,31.0,184.0,100.0,14.4,85.6
Netherlands,157.0,62.0,95.0,100.0,39.5,60.5
Austria,232.0,78.0,154.0,100.0,33.6,66.4
Poland,150.0,38.0,112.0,100.0,25.3,74.7
Portugal,188.0,59.0,129.0,100.0,31.4,68.6
Romania,122.0,21.0,101.0,100.0,17.2,82.8
Slovenia,126.0,30.0,96.0,100.0,23.8,76.2
Slovakia,45.0,13.0,32.0,100.0,28.9,71.1
Finland,186.0,67.0,119.0,100.0,36.0,64.0
Sweden,283.0,106.0,177.0,100.0,37.5,62.5
United Kingdom,551.0,215.0,336.0,100.0,39.0,61.0
EEA countries (non-EU),289.0,125.0,164.0,100.0,43.3,56.7
Iceland,104.0,49.0,55.0,100.0,47.1,52.9
Norway,185.0,76.0,109.0,100.0,41.1,58.9

In [20]:
women_boards_europe_detail.to_csv('women_boards_europe_detail.csv')
women_boards_europe_total.to_csv('women_boards_europe_total.csv')

In [55]:
women_boards_europe_detail
# women_boards_europe_detail.column.str.replace("(::).*","")

,country,number,position,position init,sex,nace,nace init
year,,,,,,,
2012-B2,Austria,0.0,CEO (Chief Executive Officer),CEO,Women,"C, E & F (Mining & quarrying; electricity, gas...",CEF
2013-B1,Austria,0.0,CEO (Chief Executive Officer),CEO,Women,"C, E & F (Mining & quarrying; electricity, gas...",CEF
2013-B2,Austria,0.0,CEO (Chief Executive Officer),CEO,Women,"C, E & F (Mining & quarrying; electricity, gas...",CEF
2014-B1,Austria,0.0,CEO (Chief Executive Officer),CEO,Women,"C, E & F (Mining & quarrying; electricity, gas...",CEF
2014-B2,Austria,0.0,CEO (Chief Executive Officer),CEO,Women,"C, E & F (Mining & quarrying; electricity, gas...",CEF
...,...,...,...,...,...,...,...
2020-B1,United Kingdom,100.0,President,PRES_BRD,Total,All sectors,TOT
2020-B2,United Kingdom,100.0,President,PRES_BRD,Total,All sectors,TOT
2021-B1,United Kingdom,100.0,President,PRES_BRD,Total,All sectors,TOT
2021-B2,United Kingdom,100.0,President,PRES_BRD,Total,All sectors,TOT
2022-B1,United Kingdom,100.0,President,PRES_BRD,Total,All sectors,TOT

In [64]:
women_boards_europe_detail_women = women_boards_europe_detail.loc[women_boards_europe_detail['sex'] == 'Women']

women_boards_europe_detail_total = women_boards_europe_detail.loc[women_boards_europe_detail['sex'] == 'Total']

list_of_total = women_boards_europe_detail_total['number'].to_list()

In [69]:
women_boards_europe_detail_women.loc[:, "Total"] = list_of_total
women_boards_europe_detail_women
women_boards_europe_detail_women['year'] = women_boards_europe_detail_women['year'].apply(lambda x: x.split('-')[0])
result = women_boards_europe_detail_women.dtypes
print(result)

year              object
country           object
number           float64
position          object
position init     object
sex               object
nace              object
nace init         object
Total            float64
dtype: object

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [70]:
women_boards_europe_detail_women['year'].astype(str).astype(int)

0         2012
1         2013
2         2013
3         2014
4         2014
          ...
401327    2020
401328    2020
401329    2021
401330    2021
401331    2022
Name: year, Length: 134060, dtype: int64

In [71]:
percentage = 100 * women_boards_europe_detail_women["number"] / women_boards_europe_detail_women["Total"]
women_boards_europe_detail_women["percentage"] = percentage
women_boards_europe_detail_women.to_csv('women_boards_europe_women_percentage.csv')

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy