**Fuente**
OECD - Organisation for economic co-operation and development

**Informaci√≥n**
Female share of seats on boards of the largest publicly listed companies

**Enlace**
https://stats.oecd.org/index.aspx?queryid=54753

In [107]:
import pandas as pd
import numpy as np

In [108]:
paths = ['female_boards_worldwide', 'female_managers_worldwide']
name = ['boards', 'managers']

In [109]:
femaleWorldwide = {v:pd.read_csv(f'../data/raw_data/{k}.csv', dtype=str) for (k,v) in zip(paths, name)}

In [110]:
femaleWorldwide['boards'].head(3)

,COU,Country,IND,Indicator,SEX,Sex,AGE,Age Group,TIME,Time,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,SVN,Slovenia,EMP11,Female share of seats on boards of the largest...,WOMEN,Women,TOTAL,Total,2013,2013,PC,Percentage,0,Units,NaN,NaN,21.6,NaN,NaN
1,DNK,Denmark,EMP11,Female share of seats on boards of the largest...,WOMEN,Women,TOTAL,Total,2013,2013,PC,Percentage,0,Units,NaN,NaN,22.9,NaN,NaN
2,ESP,Spain,EMP11,Female share of seats on boards of the largest...,WOMEN,Women,TOTAL,Total,2013,2013,PC,Percentage,0,Units,NaN,NaN,14.8,NaN,NaN

In [111]:
femaleWorldwide['managers'].head(3)

,COU,Country,IND,Indicator,SEX,Sex,AGE,Age Group,TIME,Time,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,EMP10NEW,Share of female managers,WOMEN,Women,TOTAL,Total,2011,2011,PC,Percentage,0,Units,NaN,NaN,36.1,NaN,NaN
1,AUS,Australia,EMP10NEW,Share of female managers,WOMEN,Women,TOTAL,Total,2012,2012,PC,Percentage,0,Units,NaN,NaN,35.7,NaN,NaN
2,AUS,Australia,EMP10NEW,Share of female managers,WOMEN,Women,TOTAL,Total,2013,2013,PC,Percentage,0,Units,NaN,NaN,35.8,NaN,NaN

In [112]:
for key, value in femaleWorldwide.items():

    femaleWorldwide[key] = femaleWorldwide[key].loc[:, femaleWorldwide[key].isnull().mean() < .5]   # Remove columns with over 50% NaN

    femaleWorldwide[key] = femaleWorldwide[key][['COU', 'Country', 'Indicator', 'Time', 'Value']]

    columnNames = {'COU':'Country_code', 'Indicator':'Position', 'Time':'Year', 'Value':'Percentage'}

    femaleWorldwide[key].rename(columns = columnNames, inplace=True)

    femaleWorldwide[key]['Position'] = femaleWorldwide[key]['Position'].apply(lambda x:'board' if 'boards' in x else 'manager')

    # This will convert all the columns to numeric except 'Country'
    cols = femaleWorldwide[key].columns.drop(['Country_code','Country','Position'])
    femaleWorldwide[key][cols] = femaleWorldwide[key][cols].apply(pd.to_numeric, errors='coerce')

    femaleWorldwide[key]["Country"] = np.where(femaleWorldwide[key]["Country"] == 'China (People\'s Republic of)', 'China', femaleWorldwide[key]["Country"])

In [113]:
femaleBoard = femaleWorldwide['boards']
femaleBoard.head(1)

  Country_code   Country Position  Year  Percentage
0          SVN  Slovenia    board  2013        21.6

In [114]:
femaleManager = femaleWorldwide['managers']
femaleManager.head(1)

  Country_code    Country Position  Year  Percentage
0          AUS  Australia  manager  2011        36.1

In [115]:
mask = femaleBoard['Year'] == 2021
# femaleBoard[mask].Percentage.max()

print(femaleBoard[mask][femaleBoard[mask].Percentage == femaleBoard[mask].Percentage.min()])

    Country_code Country Position  Year  Percentage
391          KOR   Korea    board  2021         8.7

In [116]:
print(femaleBoard[mask][femaleBoard[mask].Percentage == femaleBoard[mask].Percentage.max()])

    Country_code  Country Position  Year  Percentage
387          ISL  Iceland    board  2021        47.1

In [117]:
countriesRepresent = ['Korea','Estonia','Russia','Japan','China','Brazil','India','Poland','Ireland','Spain','Canada',
'United States','South Africa','Australia','Germany','United Kingdom','Sweden','France','Iceland']